*.lo
*.o
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
encfs.spec
encfs/.deps
encfs/.libs
encfs/encfs
encfs/encfs-man.html
encfs/encfs.1
encfs/encfsctl
encfs/encfsctl.1
encfs/libencfs.la
encfs/makeKey
encfs/pod2htmd.tmp
encfs/pod2htmi.tmp
encfs/test
libtool
m4/*.m4
makedist2.sh
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
stamp-h1
